@tailwind base;
@tailwind components;
@tailwind utilities;



/* Ripple effect */
/* .ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
} */


.dark .p-overlaypanel {
  background: #1f2937 !important;
  border-color: rgb(207, 210, 218) !important;
  box-shadow: rgb(207, 210, 218) 0px 0px 6px !important;
}

.p-overlaypanel {
  background: white !important;
}


/* Sizes */

.w-25px {
    width: 25px ! important;
  }
  
  .w-50px {
    width: 50px ! important;
  }
  
  .w-75px {
    width: 75px ! important;
  }
  
  .w-100px {
    width: 100px ! important;
  }
  
  .w-150px {
    width: 150px ! important;
  }
  .w-200px {
    width: 200px ! important;
  }
  
  .w-250px {
    width: 250px ! important;
  }
  
  .w-300px {
    width: 300px ! important;
  }
  
  .w-400px {
    width: 400px ! important;
  }
  
  .w-500px {
    width: 500px ! important;
  }
  
  .h-10px {
    height: 10px ! important;
  }
  
  .h-15px {
    height: 15px ! important;
  }
  
  .h-20px {
    height: 20px ! important;
  }
  
  .h-25px {
    height: 25px ! important;
  }
  
  .h-30px {
    height: 30px ! important;
  }
  
  .h-50px {
    height: 50px ! important;
  }
  
  .h-75px {
    height: 75px ! important;
  }
  
  .h-100px {
    height: 100px ! important;
  }




  .border-right {
    border-right: 1px solid #ecefed;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3); */
  }
  
  .shadow-middle {
    box-shadow: rgb(207, 210, 218) 0px 2px 6px;
  }
  
  .title {
    font-size: 18px;
  }
  
  .subtitle {
    font-size: 15px;
  }
  
  .min-w-100px {
    
  }